@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
  background-image: url(../images/bg.jpg);
  color: white;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin: 2rem;
}
.logo img {
  width: 150px;
}

#feedbackTitle h1 {
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
}

#container-feedback {
  width: 780px;
  margin-inline: auto;
}
.feedbackSubtitle {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.6rem;
}
