body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  margin: 3%;
  height: 100%;
}

.logo {
  padding: 10px;
}

.container {
  margin: 70px;
}

#title {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  line-height: 70%;
}

#title b {
  font-weight: bold;
  display: block;
  margin-bottom: 50px;
}

.instructions {
  margin-bottom: 50px;
}

.instructions h3 {
  color: #d20094;
  font-weight: bold;
  font-size: xx-large;
  font-family: "Outfit", sans-serif;
  padding-bottom: 10px;
}

.instructions p {
  width: 70%;
  font-weight: 200;
  padding-top: 10px;
  line-height: 130%;
}

.rules ul {
  list-style-type: disc;
  margin-left: 20px;
}

.rules li {
  padding: 10px;
  font-weight: 250;
}

.rules b {
  font-weight: 600;
}

.Input {
  margin-left: 55px;
  display: inline-block;
}

#input {
  display: none;
}

.labelForInput {
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.1rem;
  cursor: pointer;
}

.checked {
  display: inline-block;

  width: 1rem;
  height: 1rem;
  border-style: solid;
  background-color: #d20094;
  cursor: pointer;
  clip-path: polygon(38% 74%, 95% 6%, 46% 91%, 5% 71%);
}

.Input span {
  font-size: 12px;
  padding-left: 10px;
  font-weight: 500;
}

#btn {
  text-align: center;
  float: inline-end;
  margin-right: 15%;
  font-size: larger;
}

#btn .proceed {
  color: #040b4b;
  font-family: "Outfit", sans-serif;
  background-color: #00ffff;
  padding: 13px;
  border: none;
  box-shadow: 1px 1px 20px 5px #00b7ff9d;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bolder;
  width: 200px;
  margin-bottom: 30%;
  opacity: 0.6;
  cursor: not-allowed;
}

/*
#btn .proceed:hover {
    box-shadow: 0 0 30px 0 #0ec9c9 inset, 0 0 30px 4px #1291cc;
    color: white;
}*/

#btn .goTo {
  box-shadow: 0 0 30px 0 #0ec9c9 inset, 0 0 30px 4px #1291cc;
  color: white;
  font-family: "Outfit", sans-serif;
  background-color: #00ffff;
  padding: 13px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bolder;
  width: 200px;
  margin-bottom: 30%;
}
