#timer {
  position: relative;
}

#inner-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  font-size: 100%;
  text-align: center;
  border-radius: 50%;
  height: 60%;
  width: 60%;
  margin: auto;
}

p {
}

#timer-circle {
  animation: dash 61s;
  animation-timing-function: linear;
}

@keyframes dash {
  from {
    stroke-dasharray: 100 0;
  }
  to {
    stroke-dasharray: 0 100;
  }
}
