body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  place-items: center;
}

main {
  text-align: center;
  margin-top: 3%;
}

#logo {
  padding: 40px 70px;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

img {
  max-width: 150px;
  max-height: 150px;
}

#domande {
  margin: auto;
  max-width: 50%;
  padding: 60px 60px 80px 60px;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 2vw;
  color: white;
  font-style: normal;
}

#risposte {
  border: 2px rgba(255, 255, 255, 0) solid;
  width: 50%;
  margin: auto;
  height: 20em;
}

.button-container {
  display: inline-block;
  width: 23em;
  margin: 5px;
  /*  padding: 10px; */
  border-radius: 3em;
  border-width: 3em;
  border: 5px solid slhsl(0, 0%, 100%);
}
.button {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  border: solid 3px;
  color: #fff;
  background-color: hsla(0, 0%, 100%, 0.24);
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-radius: 55px;
  padding: 2px;
  width: 28em;
  cursor: pointer;
  height: 5em;
}

.button:hover {
  outline-color: transparent;
  outline-style: solid;
  background-color: #d20094;
  background: radial-gradient(#d20094, hwb(318 2% 58% / 0.637));
}

footer {
  text-align: center;
  padding-top: 5%;
  margin-top: 5%;
  height: 4rem;
}

#inner-timer p {
  font-size: 1vw;
}

p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5vw;

  color: white;
}

#span {
  font-size: 3vw;
  text-align: center;
}

#timer {
  position: relative;
  width: 12%;
  margin-top: 3%;
  margin-right: 6%;
  float: right;
}

#inner-timer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5vw;
  text-align: center;
  border-radius: 50%;
  height: 30%;
  width: 100%;
  margin: auto;
}

#timer-circle {
  animation: dash 61s;
  animation-timing-function: linear;
}

@keyframes dash {
  from {
    stroke-dasharray: 100 0;
  }

  to {
    stroke-dasharray: 0 100;
  }
}

#form {
  color: #fff;
  font-family: "Outfit", sans-serif;
  display: inline-block;
  border: 1px solid transparent;
  width: 70%;
  font-size: 2em;
}

#container {
  background-color: transparent;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

#container #btn {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

#form label {
  display: block;
  padding: 5%;
}

#form button {
  display: inline-block;
  padding: 10px;
  width: 150px;
  background-color: #d20094;
  color: #fff;
  font-weight: bold;
  border: 3px solid #d20094;
  box-shadow: 1px 1px 20px 1px #d20094;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  font-size: large;
}

#difficulty-choice {
  padding: 1px;
  width: 150px;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  box-shadow: 0 0 5px 0.5px #fff;
  text-align: center;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
}

#difficulty-choice option {
  color: #fcfafb;
  padding: 5px;
  background: #0C103A;
  border: none;
}

#quantity-choice {
  width: 100px;
  padding: 1px;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  box-shadow: 0 0 5px 0.5px #fff;
  text-align: center;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
}

#quantity-choice option {
  color: #fff;
  background: #0C103A;
}

