body {
    /*    margin: 0 4em;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    */
    background-image: url(../images/bg.jpg);
    background-size: cover;
    color: whitesmoke;
    font-family: "Inter", sans-serif;
    margin: 3%;
}

.center {
    text-align: center;
}

h1 {
    font-size: 5vw;
    font-weight: bold;
}

h3 {
    font-size: 1.8vw;
}

strong {
    font-size: 7vw;
}

.title-chart {
    font-size: 2.3vw;
    margin-top: 2em;
    font-weight: bold;
}

.blue {
    color: aqua;
    font-size: 1.3vw;
    font-weight: bold;
}

.description-result {
    font-size: 1.3vw;
}

.result-questions {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.473);

}
/*
header {
     border: 1px solid white; 
    padding: 2em;
}*/

.logo {
    /* border: 1px solid white; 
    margin-bottom: 0;
    width: auto;
    height: 3em;*/
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
}

/* .chart-div {
    border: 1px solid white;
} */

.chart-box {

    width: 28vw;
    height: 28vw;
    margin: auto;
    /* border: 1px solid white; */
    border-radius: 50%;
    padding: 1em;
    position: relative;

}

#inner-chart {
    /* border: 1px solid white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
}

#correctDiv {
    width: 100%;
    /* border: 1px solid white; */
    padding: 2em;
    text-align: left;
}

.correct-content {
    /* border: 1px solid white; */
    width: 20vw;
    margin: 5em auto;

}

#wrongDiv {
    width: 100%;
    /* border: 1px solid white; */
    padding: 2em;
}

.wrong-content {
    text-align: right;
    width: 20vw;
    margin: 5em auto;
    /* border: 1px solid white; */
}

button {
    font-size: 2.5vw;
    padding: 0.6em 1.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    /* border: 1px solid white; */
    color: white;
    background-color: transparent;
    box-shadow: 0px 1px 48px -7px hsl(173, 100%, 54%);
}

button:hover {
    background-color: hsla(173, 100%, 54%, 0.719);
    box-shadow: 0px 1px 48px 8px hsl(173, 100%, 54%);
    cursor: pointer;
}